body{
	height: 100%;
	/*background-color: #585858;*/
	background-color: #0d0d0d;
} /*body close tag*/

.header_top{
	/* align images*/
	text-align: center;
	background-color: #fff;

	/* border instead of a horizontal line */
	border-bottom: 5px solid black;
	padding-bottom: 25px;
}

.header_images img{
	margin-top: 50px;
	width: 50%;
	height: 75%;
}

.header_BADGE img{
	margin-top: 25px;
	width: 80%;
	height: 100%;

}


/* NAVIGATION BAR */

.header_nav{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #003300;
}

.header_link{

}

.header_link div{
	text-align: center;
	padding-bottom: 5px;
	border: 1px solid #ccc;
	float: left;
	color: #fff;

}

/* YOUTUBE VIDEO */

.youtube_video_top_home_page{
	text-align: center;
	width: 100%;

}

/* TEAM PHOTO */

.team_image{
	position: relative;
	text-align: center;
}

.team_image img{
	width: 100%;
}