body{
	height: 100%;
	background-color: #585858;
} /*body close tag*/

.header_top{
	/* align images*/
	text-align: center;
	background-color: #fff;

	/* border instead of a horizontal line */
	border-bottom: 5px solid black;
	padding-bottom: 25px;
}

.header_images img{
	margin-top: 50px;
	width: 50%;
	height: 75%;
}

.header_BADGE img{
	margin-top: 25px;
	width: 80%;
	height: 100%;

}


/* NAVIGATION BAR */

.header_nav{
	width: 100%;
	position: absolute;
	background-color: #003300;
}

.header_link{

}

.header_link span{
	display: inline-block;
	text-align: center;
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
	color: #fff;
}



